@model Contact
@{
    string title = ViewBag.Action + " Contact";
    ViewBag.Title = title;
}

<h3>@ViewBag.Title</h3>

<form asp-action="Edit" method="post">
    <!--displays input error summary-->
    <div asp-validation-summary="All"
    class="text-danger">
    </div>

    <!--first name-->
    <div class="form-group">
        <label asp-for="FirstName">First name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <!--last name-->
    <div class="form-group">
        <label asp-for="LastName">Last name</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <!--Phone-->
    <div class="form-group">
        <label asp-for="PhoneNumber">Phone</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <!--Email-->
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <!--Category, dropdown-->
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control">
            <option value="">select a category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">
                    @c.CategoryName
                </option>
            }
        </select>
    </div>

    <!--Organization-->
    <!--<div class="form-group">-->
        <!--<label asp-for="Organization">Organization</label>-->
        <!--<input asp-for="Organization" class="form-control" />-->
    <!--</div>-->

    <input type="hidden" asp-for="ContactId" />

    <button type="submit" class="btn btn-dark">
        @ViewBag.Action
    </button>
    <a asp-controller="Home" asp-action="Index"
        class="btn btn-dark">Cancel</a>
</form>
